<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Formulario Escolar</a>
  </div>
</nav>

<div class="container mt-3">
  <div class="row justify-content-md-center">
    <div class="card col-7">
      <div class="card-body">
        <h3>Registro de estudiantes</h3>
        <form>

          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre (ejem. Juan)" required>
          </div>

          <div class="mb-3">
            <label for="lastname" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Apellidos (ejem. Ramos)" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" required>
          </div>

          <div class="mb-3">
            <label for="semestre" class="form-label">Semestre</label>
            <input type="number" class="form-control" id="semestre" name="semestre" placeholder="Escriba su nivel (ejem. 1)" required>
          </div>

          <div class="mb-3">
            <label for="enrollment" class="form-label">Matricula</label>
            <input type="text" class="form-control" id="enrollment" name="enrollment" placeholder="Escriba su nivel (ejem. 12345678)"required>
          </div>

          <div class="mb-3">
            <label for="level" class="form-label">Nivel academico</label>
            <select [(ngModel)]="selectedSpecialties" id="level" name="level" class="form-select" aria-label=".form-select-sm example" required>
              <option 
                *ngFor="let level of levels"
                [ngValue]="level.specialties"
              >
              {{level.name}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="specialty" class="form-label">Especialidad</label>
            <select id="specialty" name="specialty" class="form-select" aria-label=".form-select-sm example" required>
              <option 
                *ngFor="let specialty of selectedSpecialties"
              >
              {{specialty}}
              </option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Registro</button>
        </form>
      </div>
    </div>
  </div>
</div>